<!--<h1>Mturk#question</h1>
<p>Find me in app/views/mturk/question.html.erb</p>-->


<div class="panel-heading">
	<h1 class="panel-title light gray">Question page</hl>
</div>

<div class="panel-body">

<!--<p><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
  Read Explanation
</button></p>-->

<p style="font-size:20px" class="instruction bold"><strong>Test sentence <%=(@question_index.to_i+1)%> (select all relations that apply):</strong></p>

<ul>
	<li>
	<% i = 0 %>	
	<% @current_sentence.split(" ").length.times do %>
		<% if (i>=@current_question.args[0]["sent_tok_span"][0].to_i) & (i<@current_question.args[0]["sent_tok_span"][1].to_i) %>
			<span id="arg1"><strong><font color="red"><%= @current_sentence.split(" ")[i]%></font></strong></span>
		<% elsif (i>=@current_question.args[1]["sent_tok_span"][0].to_i) & (i<@current_question.args[1]["sent_tok_span"][1].to_i) %>
			<span id="arg2"><strong><font color="green"><%= @current_sentence.split(" ")[i]%></font></strong></span>
		<% else %>
			<%= @current_sentence.split(" ")[i]%>
		<% end %>
		<% i += 1 %>
	<% end %>

	<br><br>

	<form action='/mturk/question' role="form" method="post"> <!--form action="URL"-->
		<div class="form-group">
			
			<!-- regular optionas -->
			<div class="btn-toolbar-vertical" data-toggle="buttons">
				
				<table>
				<tr><td>Yes</td><td>No</td><td></td><td><td>&nbsp;</td><td>&nbsp;</td></td></tr>

				<!--option 1: response[r1]="has nationality"-->
				<tr>
				<td>
				<label for="yes">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r1"] == "has nationality" %>
					<input type="radio" name="response[r1]" value="has nationality" checked>
					<% else %>
					<input type="radio" name="response[r1]" value="has nationality">
					<% end %>
				</label>
				</td>	
				<td>
				<label for="no">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r1"] == "has nationality neg" %>
					<input type="radio" name="response[r1]" value="has nationality neg" checked>
					<% else %>
					<input type="radio" name="response[r1]" value="has nationality neg">
					<% end %>
				</label>
				</td>
				<td>has nationality</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r1"] %>"><%= @messageX["r1"] %></td>
				</tr>
				
				<!--option 2: response[r2]="was born in"-->
				<tr>
				<td>
				<label for="yes">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r2"] == "was born in" %>
					<input type="radio" name="response[r2]" value="was born in" checked>
					<% else %>
					<input type="radio" name="response[r2]" value="was born in">
					<% end %>
				</label>
				</td>
				<td>
				<label for="no">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r2"] == "was born in neg" %>
					<input type="radio" name="response[r2]" value="was born in neg" checked>
					<% else %>
					<input type="radio" name="response[r2]" value="was born in neg">
					<% end %>
				</label>
				</td>
				<td>was born in</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r2"] %>"><%= @messageX["r2"] %></td>
				</tr>
				
				<!--option 3: response[r3]="lived in"-->
				<tr>
				<td>
				<label for="yes">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r3"] == "lived in" %>
					<input type="radio" name="response[r3]" value="lived in" checked>
					<% else %>
					<input type="radio" name="response[r3]" value="lived in">
					<% end %>
				</label>
				</td>
				<td>
				<label for="no">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r3"] == "lived in neg" %>
					<input type="radio" name="response[r3]" value="lived in neg" checked>
					<% else %>
					<input type="radio" name="response[r3]" value="lived in neg">
					<% end %>
				</label>
				</td>
				<td>lived in</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r3"] %>"><%= @messageX["r3"] %></td>
				</tr>

				<!--option 4: response[r4]="died in"-->
				<tr>
				<td>
				<label for="yes">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r4"] == "died in" %>
					<input type="radio" name="response[r4]" value="died in" checked>
					<% else %>
					<input type="radio" name="response[r4]" value="died in">
					<% end %>
				</label>
				</td>
				<td>
				<label for="no">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r4"] == "died in neg" %>
					<input type="radio" name="response[r4]" value="died in neg" checked>
					<% else %>
					<input type="radio" name="response[r4]" value="died in neg">
					<% end %>
				</label>
				</td>
				<td>died in</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r4"] %>"><%= @messageX["r4"] %></td>
				</tr>

				<!--option 5: response[r5]="traveled to"-->
				<tr>
				<td>
				<label for="yes">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r5"] == "traveled to" %>
					<input type="radio" name="response[r5]" value="traveled to" checked>
					<% else %>
					<input type="radio" name="response[r5]" value="traveled to">
					<% end %>
				</label>
				</td>
				<td>
				<label for="no">
					<% if (@check != nil || @messageX.values().include?('X')) && @check["r5"] == "traveled to neg" %>
					<input type="radio" name="response[r5]" value="traveled to neg" checked>
					<% else %>
					<input type="radio" name="response[r5]" value="traveled to neg">
					<% end %>
				</label>
				</td>
				<td>traveled to</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r5"] %>"><%= @messageX["r5"] %></td>
				</tr>

				</table>
			</div>	
	
			<!--enabled upon rendering in-->
			<div class="btn-toolbar-vertical">
				<button type="submit" class="btn btn-primary btn-lg btn-block" name="option" value="submit">Submit</button>
			</div>
	
			<!--connect the answer with worker id-->
			<input type="hidden" name="worker_id" value="<%= @worker_id %>">
			<input type="hidden" name="chance_q" value="<%= @chance_q %>">
			<input type="hidden" name="hit_window" value="<%= @hit_window %>">

			<!-- <% if @test_question_finished != nil %>
			<% for i in 0..(@test_question_finished.length-1) %>
			<input type="hidden" name="test_question_finished[<%=i%>]" value="<%=@test_question_finished[i]%>">
			<% end %>
			<% end %>

			<% if @real_question_finished != nil %>
			<% for i in 0..(@real_question_finished.length-1) %>
			<input type="hidden" name="real_question_finished[<%=i%>]" value="<%=@real_question_finished[i]%>">
			<% end %>
			<% end %>-->

			<% if @test_question_index_in_batch != nil %>
			<% for i in 0..(@test_question_index_in_batch.length-1) %>
			<input type="hidden" name="test_question_index_in_batch[<%=i%>]" value="<%=@test_question_index_in_batch[i]%>">
			<% end %>
			<% end %>

			<input type="hidden" name="current_question_id" value= "<%= @current_question["_id"] %>">
			<input type="hidden" name="current_sentence" value= "<%= @current_sentence %>">
		</div>
	</form>
</ul>


</div>


<button type="button" onclick="alert('Has nationality: \nThe highlighted location must be either a country where the person has citizenship or an adjective for a country such as \'American\' or \'French\'. If someone holds a national office or plays for a national sports team, this implies has nationality. A person\'s nationality by itself does not imply the lived in or was born in relations. \n\nLived in: \nMeans a person spent time in the highlighted location for more than a visit. You can assume a lived in relation for the country of national officials. Otherwise, working in a location does not imply that a person has a lived in relation. lived in does not imply has nationality or was born in. \n\nWas born in: \nMeans a person was born in the highlighted location. This is most often indicated by words such as born in in a sentence. This does not imply lived in. \n\nDied in: \nMeans a person died in the highlighted location. This is most often indicated by words such as died in in a sentence. This does not imply has nationality or was born in or lived in. \n\nTraveled to: \nMeans a person visited the highlighted location. This can be explicitly indicated by words such as traveled, visited and attended or implicitly stated such as by describing that the person was in certain place some point of time. This does not imply has nationality or was born in or lived in.')">See relation definitions</button>

<p style="<%= @color0 %>"><%= @message%></p>

<div style="color:green"><font size="4"><%= @messageUp %></font></div>

<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel">Relation explanation</h4>
      		</div>
      		<div class="modal-body">
				<ul class="list-group">
				  	<li class="list-group-item"><strong><font color="blue">Has nationality</font></strong>: The highlighted location must be either a country where the person has citizenship or an adjective for a country such as "American" or "French". If someone holds a national office or plays for a national sports team, this implies <strong>has nationality</strong>. A person's nationality by itself does not imply the <strong>lived in</strong> or <strong>was born in</strong> relations.</li>
				  	<li class="list-group-item"><strong><font color="blue">Lived in</font></strong>: Means a person spent time in the highlighted location for more than a visit. You can assume a <strong>lived in</strong> relation for the country of national officials. Otherwise, working in a location does not imply that a person has a <strong>lived in</strong> relation. <strong>lived in</strong> does not imply <strong>has nationality</strong> or <strong>was born in</strong>.</li>
					<li class="list-group-item"><strong><font color="blue">Was born in</font></strong>: Means a person was born in the highlighted location. This is most often indicated by words such as "born in" in a sentence. This does not imply <strong>lived in</strong>.</li>
					<li class="list-group-item"><strong><font color="blue">Died in</font></strong>: Means a person died in the highlighted location. This is most often indicated by words such as "died in" in a sentence. This does not imply <strong>has nationality</strong> or <strong>was born in</strong> or <strong>lived in</strong>.</li>
					<li class="list-group-item"><strong><font color="blue">Traveled to</font></strong>: Means a person visited the highlighted location. This can be explicitly indicated by words such as "traveled", "visited" and "attended" or implicitly stated such as by describing that the person was in certain place some point of time. This does not imply <strong>has nationality</strong> or <strong>was born in</strong> or <strong>lived in</strong>.</li>
				</ul>
      			
      		</div>
    	</div>
  	</div>
</div>-->