<!--<h1>Mturk#tutorialPage1</h1>
<p>Find me in app/views/mturk/tutorialPage1.html.erb</p>-->

<!--panel heading-->
<div class="panel-heading">
	<h1 class="panel-title light gray "> 
	<p style="font-size:20px" class="panel-title light gray"><strong>Relation definitions for <font color="blue">was born in</font> and <font color="blue">died in</font></strong></p>
	</h1>
</div>

<div class="panel-body">

<!-- relation definition -->
<strong><font color="blue">Was born in</font></strong>: Means a person was born in the highlighted location. This is most often indicated by words such as "born in" in a sentence. This does not imply <strong>lived in</strong>.

<br><br>

<strong><font color="blue">Died in</font></strong>: Means a person died in the highlighted location. This is most often indicated by words such as "died in" in a sentence. This does not imply <strong>has nationality</strong> or <strong>was born in</strong> or <strong>lived in</strong>.

<br><br>

<!-- quetion begins -->
<p style="font-size:20px" class="instruction bold"><strong>Practice sentence 4 of 5 (select all relations that apply):</strong></p>

<ul>
	<li>"<strong><font color="red">Sayles</font></strong> was born on June 27, 1936, in <strong><font color="green">Depew</font></strong>, N.Y., and reared in nearby Buffalo."
	<form action='/mturk/tutorial4' role="form" method="post"> <!--form action="URL"-->
		<div class="form-group">
			
			<!-- regular optionas -->
			<div class="btn-toolbar-vertical" data-toggle="buttons">
				
				<table>
				<tr><td>Yes</td><td>No</td><td></td><td><td>&nbsp;</td><td>&nbsp;</td></td></tr>

				<!--option 1: response[r1]="has nationality"-->
				<tr>
				<td>
				<label for="yes">
					<% if @check != nil && @check["r1"] == "has nationality" %>
					<input type="radio" name="response[r1]" value="has nationality" checked>
					<% else %>
					<input type="radio" name="response[r1]" value="has nationality">
					<% end %>
				</label>
				</td>	
				<td>
				<label for="no">
					<% if @check != nil && @check["r1"] == "has nationality neg" %>
					<input type="radio" name="response[r1]" value="has nationality neg" checked>
					<% else %>
					<input type="radio" name="response[r1]" value="has nationality neg">
					<% end %>
				</label>
				</td>
				<td>has nationality</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r1"] %>"><%= @messageX["r1"] %></td>
				</tr>
				
				<!--option 2: response[r2]="was born in"-->
				<tr>
				<td>
				<label for="yes">
					<% if @check != nil && @check["r2"] == "was born in" %>
					<input type="radio" name="response[r2]" value="was born in" checked>
					<% else %>
					<input type="radio" name="response[r2]" value="was born in">
					<% end %>
				</label>
				</td>
				<td>
				<label for="no">
					<% if @check != nil && @check["r2"] == "was born in neg" %>
					<input type="radio" name="response[r2]" value="was born in neg" checked>
					<% else %>
					<input type="radio" name="response[r2]" value="was born in neg">
					<% end %>
				</label>
				</td>
				<td>was born in</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r2"] %>"><%= @messageX["r2"] %></td>
				</tr>
				
				<!--option 3: response[r3]="lived in"-->
				<tr>
				<td>
				<label for="yes">
					<% if @check != nil && @check["r3"] == "lived in" %>
					<input type="radio" name="response[r3]" value="lived in" checked>
					<% else %>
					<input type="radio" name="response[r3]" value="lived in">
					<% end %>
				</label>
				</td>
				<td>
				<label for="no">
					<% if @check != nil && @check["r3"] == "lived in neg" %>
					<input type="radio" name="response[r3]" value="lived in neg" checked>
					<% else %>
					<input type="radio" name="response[r3]" value="lived in neg">
					<% end %>
				</label>
				</td>
				<td>lived in</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r3"] %>"><%= @messageX["r3"] %></td>
				</tr>

				<!--option 4: response[r4]="died in"-->
				<tr>
				<td>
				<label for="yes">
					<% if @check != nil && @check["r4"] == "died in" %>
					<input type="radio" name="response[r4]" value="died in" checked>
					<% else %>
					<input type="radio" name="response[r4]" value="died in">
					<% end %>
				</label>
				</td>
				<td>
				<label for="no">
					<% if @check != nil && @check["r4"] == "died in neg" %>
					<input type="radio" name="response[r4]" value="died in neg" checked>
					<% else %>
					<input type="radio" name="response[r4]" value="died in neg">
					<% end %>
				</label>
				</td>
				<td>died in</td> <td>&nbsp;</td><td>&nbsp;</td>
				<td style="<%= @colorX["r4"] %>"><%= @messageX["r4"] %></td>
				</tr>


				</table>
			</div>

			<!--enabled upon rendering in-->
			<% if (@correct == false) %>
			<div class="btn-toolbar-vertical">
				<button type="submit" class="btn btn-primary btn-lg btn-block" name="option" value="submit">Submit</button>
			</div>
			<% else %>
			<div class="btn-toolbar-vertical">
				<button type="submit" disabled class="btn btn-primary btn-lg btn-block" name="option" value="submit">Submit</button>
			</div>
			<% end %>

			<!--connect the answer with worker id-->
			<input type="hidden" name="worker_id" value="<%= @worker_id %>">
			<input type="hidden" name="chances" value="<%= @chances %>">
		</div>
	</form>
</ul>

<p style="<%= @color0 %>"><%= @message%></p>

<% if (@correct == true) %>
		<form class="form-horizontal" role="form" action="/mturk/tutorial5" method="post">
			<div class="btn-toolbar-vertical">
				<button type="submit" class="btn btn-default">Next</button>
			</div>	
			<input type="hidden" name="worker_id" value="<%=@worker_id%>">
			<input type="hidden" name="chances" value="<%= @chances %>">
		</form>
<% end %>

</div> <!--panel-body end-->
